  <!-- File Name : Assignment1 -->
  <!-- Student's Name : JiHyeok Kim -->
  <!-- StudentID : 301105279 -->
  <!-- Date : 10/8/2020 -->
  
  <!--Bottom nav-->
  <footer>
    <p></p>
    <nav class="navbar fixed-bottom navbar-blue bg-light">
      <h7 class="display-6 navbar-text">&copy; Copyright-COMP229-SEC03 by JiHyeok Kim</h7>
    </nav>
  </footer> 