  <!-- File Name : Assignment2 -->
  <!-- Student's Name : JiHyeok Kim -->
  <!-- StudentID : 301105279 -->
  <!-- Date : 10/23/2020 -->
  
  <!-- Script section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>