<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- File Name : Assignment1 -->
  <!-- Student's Name : JiHyeok Kim -->
  <!-- StudentID : 301105279 -->
  <!-- Date : 10/8/2020 -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&display=swap" rel="stylesheet">

  <!-- CSS section-->
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>
<body>
