  <!--Bottom nav-->
  <footer>
    <p></p>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h7 class="display-6 navbar-text">&copy; Copyright  2020. All Rights reserved</h7>
    </nav>
  </footer> 