<!-- File Name : Assignment1 -->
<!-- Student's Name : JiHyeok Kim -->
<!-- StudentID : 301105279 -->
<!-- Date : 10/8/2020 -->


<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<ul class="nav justify-content-end">
    <li class="nav-item">
      
    </li>
   
</ul>


  <!--Main contents-->
  <main class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="my-5 rounded-pill title-background" >
          <br>
          <h1 id="font-title" class="display-4 text-center">Projects <i class="fas fa-scroll"> </i></h1>
        </div>
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row">
        <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
            <img src="/Assets/images/studentinformation.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
            <div class="card-body">
              <h5 class="card-title">Student Information System</h5>
              <p class="card-text">The information system takes Java as its front end and MS Acess as their data base registration system.Java is user friendly language.The platforms provides object components like buttons,buttons, textfields, radio button, combobox, list, images, checkbox that you can refer on how to use these components.It also has database for storing the information about each and every student.The system can delete , edit , search , add students. The project can include the marks of the student. Various details can be added to the project like personal details, semester wise gpa etc. You can make changes according to the need of your project. However , if you have basic knowledge of data structure and algorithm the project would have less complexity.</p>
              <p class="card-text"><small class="text-muted">I have yet to contribute to this project</small></p>
              
            </div>
        </div>
    </div>

    <div class="row">
      <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
          <img src="/Assets/images/barcode.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
          <div class="card-body">
            <h5 class="card-title">Barcode Image generation library</h5>
            <p class="card-text">Barcode is a optical , machine readable data.It contians limited amount of data. It is basically and identifier to the database of the paticular object.The library first turns the data into a series of 1s and 0s representing equal-width bars and spaces. This string of binary information is then sent to a drawing method that converts it to an image representing the desired barcode. The drawing method is common ,therefore can be applied on all  symbols .</p>
            <p class="card-text"><small class="text-muted">I have yet to contribute to this project</small></p>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
        <img src="/Assets/images/remove.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">Duplicate File Remover</h5>
          <p class="card-text">We usually download the files on our computers before mailing them. Even after , mailing them the we do not remember to delete them. It consumes a lot of disk spaces. This is not feasible when in the advancing world. Henceforth , taking this objective in mind write a software that runs a scheduled process which groups the duplicate files.It can be similar like a folder or a word document. Now, the manager lets you know how many files are similar. It will tell you what is the level of similarity. According to the level ,user can take actions. Actions can be according to the needs of users like deleting or migrating.</p>
          <p class="card-text"><small class="text-muted">I have yet to contribute to this project</small></p>
          
        </div>
    </div>
</div>


    <!-- Additional Contents here~ -->

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  













