/* // File Name : Assignment1  */
/* // Student's Name : JiHyeok Kim  */
/* // StudentID : 301105279  */
/* // Date : 10/8/2020  */
body {
    margin-bottom: 10px;
    
    opacity: 1;
    background-color: #cccccc;
  }